.left {
  @include text-align(left);
  &:after {
    @include left(0);
  }
}

.right {
  @include text-align(right);
  &:after {
    @include right(0);
  }
}

.center {
  text-align: center;
  &:after {
    @include left(50%);
    @include margin-left(-35px);
  }
}

.title {
  display: block;
  position: relative;
  margin-bottom: $spacing5;

  font-family:"kanit", sans-serif !important;
  h4 {
    font-size: 48px;
    line-height: 56px;
    font-weight: $font-medium;
    letter-spacing: 1px;
    .theme--dark & {
      text-shadow: 0 0 15px rgb(15, 248, 255);
    }
    .theme--light & {
    text-shadow:unset;
    }
    @include breakpoints-down(md) {
      font-size: 32px;
      line-height: 48px;
    }
    @include breakpoints-down(xs) {
      font-size: 28px;
      line-height: 44px;
    }
  }
  &:after {
    content: "";
    width: 70px;
    height: 12px;
    bottom: -32px;
    border-radius: 12px;
    background:transparent;
    position: absolute
  }
  & strong {
    @include palette-text-primary;
  }
}

.title-secondary {
  display: block;
  position: relative;
  margin-bottom: $spacing12;
  text-transform: capitalize;
  @include breakpoints-down(xs) {
    margin-bottom: $spacing10
  }
  h3 {
    @include palette-text-primary;
    font-size: 48px;
    line-height: 56px;
    font-weight: $font-bold;
    letter-spacing: 1px;
    @include breakpoints-down(md) {
      font-size: 32px;
      line-height: 48px;
    }
    @include breakpoints-down(xs) {
      font-size: 28px;
      line-height: 44px;
    }
  }
  &:after {
    content: "";
    width: 70px;
    height: 12px;
    bottom: $spacing4 * -1;
    border-radius: 12px;
    background: $palette-primary-main;
    position: absolute
  }
  strong {
    @include palette-text-primary;
  }
}
